@charset "UTF-8";


/*memberCart.jsp ********************************************************************/
.memberCart{padding:20px;}
.memberCart h2{text-align:left; font-size:30px; margin-left:20px;}
.memberCart hr{border:3px solid #f89cb5; margin-bottom:70px;}

.memberCart input[type="checkbox"]{display:inline-block; width:20px; height:20px; accent-color:#de2e5f;}

.selectCart_all{font-size:0; position:relative; border-bottom:1px solid #ddd; padding-bottom:20px;}
.selectCart_all input{display:inline-block;  width:20px; height:20px;  line-height:25px; margin:-18px 10px 0 0;}
.selectCart_all label{display:inline-block; font-size:20px; width:100px; text-align:left; position:absolute; top:-20px;}
.selectCart_all p{display:inline-block; position:absolute; right:0px; top:-20px; font-size:20px;}


.memberCart input[type="text"]{border:none;}

.cartInfo_house{border-bottom:1px solid #eee;}
.cartInfo_house .cart_house_name{font-size:22px; font-weight:600; margin-bottom:10px; margin-top:50px;}
.cartInfo_house .cart_house_location{font-size:20px; color:#aaa; margin-bottom:20px;}

.memberCart .cart_admin_content{font-size:21px; font-weight:500; margin-left:20px; margin-bottom:20px;}
.memberCart .cart_checkIn{font-size:17px; font-weight:400; color:#666; margin-left:20px; margin-bottom:-5px;}
.memberCart .cart_checkOut{font-size:17px; font-weight:400; color:#666; margin-left:20px; margin-bottom:-5px;}

.memberCart .cart_house_typePrice{font-size:20px; font-weight:500; text-align:right;}

.cartList{margin-bottom:100px;}
.cartList > h3{text-align:center; margin:150px 0; font-size:24px;}
.cartInfo li{position:relative;}
.cartInfo_li{padding-top:30px;}


.cartInfo li > div{font-size:0; display:table; vertical-align:top;}
.cartInfo li > div > input{display:table-cell; width:30px; height:20px; margin-right:10px;}
.cartInfo li > div > span{display:table-cell; display:inline-block; width:150px; height:150px; overflow:hidden; margin-left:50px; margin-top:-30px;}
.cartInfo li > div > span > img{width:100%; height:100%; margin:auto; border-radius:10px;}
.cartInfo li > div > div{display:table-cell; font-size:20px; vertical-align:top; width:930px;}

.cartInfo .cartCloseBtn{display:table-cell; vertical-align:top; text-align:right; margin-top:-20px; width:50px;}
.cartCloseBtn button{width:40px; background:none; border:none; cursor:pointer; margin-right:20px;}
.cartCloseBtn img{width:30px;}
.cartCloseBtn button:hover{border:none;}

.cartPriceSet{width:200px; margin-top:50px; text-align:right;}
.cartPriceSet p {font-size:18px; font-weight:400; margin-right:20px; margin-bottom:25px;}
.cartPriceSet p > strong{display:inline-block; margin-left:20px; font-weight:500; color:#000;}
.cartPriceSet p > b{font-weight:400;color:#de2e5f; display:inline-block;}


.cartResult h3{font-size:30px; font-weight:600; margin-bottom:50px;}
.cartResult > p{position:relative; font-size:20px; font-weight:300; margin-bottom:30px;}
.cartResult > p > span{display:inline-block; width:200px; position:absolute; right:20px;
text-align:right;}

.cartResult .cart_house_price{font-size:20px; font-weight:700; text-align:right; margin-right:-20px;}
.cartResult .cart_discount{font-size:20px; font-weight:700; text-align:right; margin-right:-20px;}
.cartResult .cart_select_count{font-size:20px; text-align:left; margin-left:-20px;}
.cartResult .cart_house_totalPrice{font-size:25px; font-weight:700; text-align:right; margin-right:-20px;}

.cartResult p:nth-child(4){padding-bottom:30px; border-bottom:1px dashed #ddd; margin-bottom:30px;}

#cartToReseBtn{font-size:25px; color:#fff; width:800px; border-radius:10px; background-color:#de2e5f; padding:15px 0; font-weight:500; margin:0 auto; text-align:center;
margin-bottom:70px; margin-top:70px; border:none; margin-left:200px; cursor:pointer;}
.notation > p {font-size:16px; margin-bottom:10px;}


/* 팝업창 */
.cartDelete_popup{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); z-index:1000;}

.cartDelete_popup .cartDelete_popup_content{background-color:white; width:500px; padding:30px; text-align:center;
border-radius:5px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.cartDelete_popup .cartDelete_popup_content > h3{margin-bottom:50px;}
.cartDelete_popup .cartDelete_popup_content > button{background:none; border:none; font-size:16px; margin-right:50px; cursor:pointer;}
.cartDelete_popup .cartDelete_popup_content > button:last-child{margin-right:0;}

