@charset "UTF-8";

/*공통 스타일*/
html,body{word-break:keep-all;  font-size:16px; color:#2f2c28; font-weight:300;}
body,h1,h2,h3,h4,h5,h6,p,table,th,tr,td,p,ul,ol,li{font-family:'Noto Sans KR'; margin:0; padding:0;}
img{border:0;}
a{color:#454545; text-decoration:none;}
table{border-collapse:collapse; border-spacing:0;}
ul,ol,li{list-style:none;}   


#wrap{width:100%;}
.inner{width:1200px; margin:0 auto;}

/*header*/
.header{height:85px; margin-top:100px; line-height:85px; margin-bottom:60px;}
.header a img{width:250px; vertical-align:middle;}

.header_menu{float:right;}
.header_menu ul li{display:inline-block; text-align:center; vertical-align:middle; margin-left:20px;}
.header_menu ul li a{display:block; line-height:0;}
.header_menu ul li a img{width:45px; padding:5px 0;}
.header_menu ul li:first-child{margin-right:15px;}
.header_menu ul li a p{line-height:100%;}
